workflows/developer.json
{
	"name": "Developer Review Deploy",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "developer-review-deploy",
				"responseMode": "responseNode"
			},
			"id": "drd_webhook",
			"name": "Developer Webhook",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2,
			"position": [
				220,
				320
			]
		},
		{
			"parameters": {
				"jsCode": "const body = $json.body ?? $json;\nconst runId = body.run_id ?? body.runId ?? body.plan?.run_id ?? body.plan?.runId ?? `run_${Date.now()}_${Math.random().toString(36).slice(2, 10)}`;\nreturn [{ json: { plan: body.plan ?? body, run_id: runId } }];"
			},
			"id": "drd_normalize",
			"name": "Normalize Plan",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				460,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/developer",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { plan: $json.plan, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "drd_developer",
			"name": "Call Developer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				700,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/reviewer",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { code: $json.code, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "drd_reviewer",
			"name": "Call Reviewer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				940,
				320
			]
		},
		{
			"parameters": {
				"conditions": {
					"boolean": [
						{
							"value1": "={{ $json.approved }}",
							"value2": true
						}
					]
				}
			},
			"id": "drd_gate",
			"name": "Approved?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [
				1180,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/deployer",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { review: $json.review, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "drd_deployer",
			"name": "Call Deployer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				1420,
				220
			]
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    status: 'approved',\n    deploymentStatus: $json.status,\n    deployment: $json.deployment\n  }\n}];"
			},
			"id": "drd_success",
			"name": "Format Success",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1660,
				220
			]
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    run_id: $json.run_id,\n    status: 'changes_required',\n    approved: $json.approved,\n    review: $json.review\n  }\n}];"
			},
			"id": "drd_reject",
			"name": "Format Rejection",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1420,
				420
			]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ $json }}",
				"options": {
					"responseCode": 200
				}
			},
			"id": "drd_response",
			"name": "Respond",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1.3,
			"position": [
				1900,
				320
			]
		}
	],
	"connections": {
		"Developer Webhook": {
			"main": [
				[
					{
						"node": "Normalize Plan",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Normalize Plan": {
			"main": [
				[
					{
						"node": "Call Developer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Developer": {
			"main": [
				[
					{
						"node": "Call Reviewer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Reviewer": {
			"main": [
				[
					{
						"node": "Approved?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Approved?": {
			"main": [
				[
					{
						"node": "Call Deployer",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Format Rejection",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Deployer": {
			"main": [
				[
					{
						"node": "Format Success",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Success": {
			"main": [
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Rejection": {
			"main": [
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {},
	"pinData": {}
}
