workflows/mcp-ping.json
{
  "name": "MCP Ping",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mcp-ping",
        "responseMode": "responseNode"
      },
      "id": "mcp_ping_webhook",
      "name": "MCP Ping Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 260]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body ?? $json;\nreturn [{\n  json: {\n    status: 'ok',\n    action: 'ping',\n    message: 'pong',\n    received: body,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "mcp_ping_format",
      "name": "Format Ping Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 260]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "mcp_ping_respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [700, 260]
    }
  ],
  "connections": {
    "MCP Ping Webhook": {
      "main": [
        [
          {
            "node": "Format Ping Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Ping Response": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {}
}
