workflows/whatsapp.json
{
	"name": "WhatsApp Intake Orchestrator",
	"nodes": [
		{
			"parameters": {
				"httpMethod": "POST",
				"path": "whatsapp-intake",
				"responseMode": "responseNode"
			},
			"id": "wa_webhook",
			"name": "WhatsApp Webhook",
			"type": "n8n-nodes-base.webhook",
			"typeVersion": 2,
			"position": [
				220,
				320
			]
		},
		{
			"parameters": {
				"jsCode": "const body = $json.body ?? $json;\nconst messageText = body?.entry?.[0]?.changes?.[0]?.value?.messages?.[0]?.text?.body ?? body?.text ?? body?.message ?? '';\nconst runId = body?.run_id ?? body?.runId ?? `run_${Date.now()}_${Math.random().toString(36).slice(2, 10)}`;\nconst jiraIssueKey = String(body?.jira_issue_key ?? body?.issue_key ?? '').trim();\nconst jiraBaseUrl = String(body?.jira_base_url ?? body?.jira?.base_url ?? '').trim();\nconst jiraEmail = String(body?.jira_email ?? body?.jira?.email ?? '').trim();\nconst jiraApiToken = String(body?.jira_api_token ?? body?.jira?.api_token ?? '').trim();\nconst multiagentApiKey = String(body?.multiagent_api_key ?? body?.api_key ?? '').trim();\n\nfunction inferIntent(text) {\n  const t = String(text || '').toLowerCase();\n  if (!t) {\n    return { name: 'unknown', confidence: 0.0, entities: [], reasoning: 'empty_input' };\n  }\n\n  const rules = [\n    { name: 'generate_backend', confidence: 0.92, terms: ['backend', 'api', 'endpoint', 'controller', 'service'] },\n    { name: 'deploy_backend', confidence: 0.9, terms: ['deploy', 'desplegar', 'release', 'produccion'] },\n    { name: 'review_backend', confidence: 0.88, terms: ['review', 'revisar', 'auditar', 'quality', 'qa'] },\n    { name: 'planner_help', confidence: 0.8, terms: ['plan', 'planning', 'roadmap', 'organiza'] }\n  ];\n\n  for (const rule of rules) {\n    if (rule.terms.some((term) => t.includes(term))) {\n      return {\n        name: rule.name,\n        confidence: rule.confidence,\n        entities: [{ key: 'matched_terms', value: rule.terms.filter((term) => t.includes(term)) }],\n        reasoning: 'keyword_match'\n      };\n    }\n  }\n\n  return { name: 'freeform_request', confidence: 0.65, entities: [], reasoning: 'fallback' };\n}\n\nconst explicitIntent = body?.intent;\nconst intent = (explicitIntent && typeof explicitIntent === 'object')\n  ? {\n      name: String(explicitIntent.name ?? 'unknown'),\n      confidence: Number(explicitIntent.confidence ?? 0),\n      entities: Array.isArray(explicitIntent.entities) ? explicitIntent.entities : [],\n      reasoning: String(explicitIntent.reasoning ?? 'provided')\n    }\n  : inferIntent(messageText);\n\nconst structuredTask = `[${intent.name}] ${messageText || 'No task provided'}`;\n\nreturn [{\n  json: {\n    run_id: runId,\n    task: structuredTask,\n    source: 'whatsapp',\n    intent,\n    multiagent_api_key: multiagentApiKey,\n    jira_issue_key: jiraIssueKey,\n    jira_base_url: jiraBaseUrl,\n    jira_email: jiraEmail,\n    jira_api_token: jiraApiToken,\n    raw: body\n  }\n}];"
			},
			"id": "wa_normalize",
			"name": "Normalize Input",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				460,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/planner",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "X-API-Key",
							"value": "={{ $('Normalize Input').first().json.multiagent_api_key }}"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { task: $json.task, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "wa_planner",
			"name": "Call Planner",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				700,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/developer",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "X-API-Key",
							"value": "={{ $('Normalize Input').first().json.multiagent_api_key }}"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { plan: $json.plan, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "wa_developer",
			"name": "Call Developer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				940,
				320
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/reviewer",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "X-API-Key",
							"value": "={{ $('Normalize Input').first().json.multiagent_api_key }}"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { code: $json.code, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "wa_reviewer",
			"name": "Call Reviewer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				1180,
				320
			]
		},
		{
			"parameters": {
				"jsCode": "const approved = $json.approved === true || String($json.approved).toLowerCase() === 'true';\nreturn approved ? [{ json: $json }] : [];"
			},
			"id": "wa_gate",
			"name": "Filter Approved",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1420,
				220
			]
		},
		{
			"parameters": {
				"jsCode": "const approved = $json.approved === true || String($json.approved).toLowerCase() === 'true';\nreturn approved ? [] : [{ json: $json }];"
			},
			"id": "wa_gate_reject",
			"name": "Filter Rejection",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1420,
				420
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://multiagent-system-4eze.onrender.com/agents/deployer",
				"sendHeaders": true,
				"headerParameters": {
					"parameters": [
						{
							"name": "X-API-Key",
							"value": "={{ $('Normalize Input').first().json.multiagent_api_key }}"
						}
					]
				},
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { review: $json.review, run_id: $json.run_id } }}",
				"options": {}
			},
			"id": "wa_deployer",
			"name": "Call Deployer",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [
				1660,
				220
			]
		},
		{
			"parameters": {
				"jsCode": "const deploymentRaw = $json.deployment;\nlet deployment = {};\nif (typeof deploymentRaw === 'string') {\n  try {\n    deployment = JSON.parse(deploymentRaw);\n  } catch (e) {\n    deployment = { error: 'Failed to parse deployment JSON' };\n  }\n} else if (typeof deploymentRaw === 'object') {\n  deployment = deploymentRaw;\n}\nconst deploymentUrl = deployment.deployment_url || deployment.service_url || deployment.url || deployment.deploy_url || null;\nconst gitHubRepo = deployment.github_repo?.repo_url || deployment.repo_url || null;\nconst taskStatus = ($json.status || 'validated') === 'deployed' ? 'done' : (($json.status || 'validated') === 'validated' ? 'done' : String($json.status || 'in_progress'));\nreturn [{\n  json: {\n    run_id: $json.run_id,\n    status: 'approved',\n    summary: ($json.status === 'deployed') ? 'App successfully deployed to Render' : 'Pipeline executed successfully',\n    intent: $('Normalize Input').first().json.intent,\n    deployment,\n    deploymentStatus: $json.status,\n    whatsapp_response: {\n      channel: 'meta_cloud_api',\n      task_status: taskStatus,\n      deployment_url: deploymentUrl,\n      github_repo: gitHubRepo,\n      error_message: null\n    }\n  }\n}];"
			},
			"id": "wa_success",
			"name": "Format Success",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1900,
				220
			]
		},
		{
			"parameters": {
				"jsCode": "const review = $json.review || {};\nconst findings = Array.isArray(review.findings) ? review.findings : [];\nconst errorMessage = findings.length ? findings.join(' | ') : 'Reviewer did not approve the generated output';\nreturn [{\n  json: {\n    run_id: $json.run_id,\n    status: 'changes_required',\n    summary: 'Reviewer did not approve the generated output',\n    intent: $('Normalize Input').first().json.intent,\n    review,\n    approved: $json.approved,\n    whatsapp_response: {\n      channel: 'meta_cloud_api',\n      task_status: 'changes_required',\n      pr_url: null,\n      deploy_url: null,\n      error_message: errorMessage\n    }\n  }\n}];"
			},
			"id": "wa_reject",
			"name": "Format Rejection",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				1660,
				420
			]
		},
		{
			"parameters": {
				"conditions": {
					"string": [
						{
							"value1": "={{ $('Normalize Input').first().json.jira_issue_key ? '1' : '0' }}",
							"value2": "1"
						}
					]
				}
			},
			"id": "wa_jira_gate_success",
			"name": "Link Jira on Success?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [
				1900,
				220
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://n8n-service-hxe8.onrender.com/webhook/jira-task-manager",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { action: 'link_run', issue_key: $('Normalize Input').first().json.jira_issue_key, run_id: $json.run_id, run_base_url: 'https://multiagent-system-4eze.onrender.com', jira_base_url: $('Normalize Input').first().json.jira_base_url, jira_email: $('Normalize Input').first().json.jira_email, jira_api_token: $('Normalize Input').first().json.jira_api_token } }}",
				"options": {}
			},
			"id": "wa_jira_link_success",
			"name": "Link Run in Jira (Success)",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"onError": "continueRegularOutput",
			"position": [
				2140,
				160
			]
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    ...$('Format Success').first().json,\n    jira_link: $json\n  }\n}];"
			},
			"id": "wa_success_finalize",
			"name": "Finalize Success",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				2380,
				160
			]
		},
		{
			"parameters": {
				"conditions": {
					"string": [
						{
							"value1": "={{ $('Normalize Input').first().json.jira_issue_key ? '1' : '0' }}",
							"value2": "1"
						}
					]
				}
			},
			"id": "wa_jira_gate_reject",
			"name": "Link Jira on Rejection?",
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [
				1900,
				420
			]
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://n8n-service-hxe8.onrender.com/webhook/jira-task-manager",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ { action: 'link_run', issue_key: $('Normalize Input').first().json.jira_issue_key, run_id: $json.run_id, run_base_url: 'https://multiagent-system-4eze.onrender.com', jira_base_url: $('Normalize Input').first().json.jira_base_url, jira_email: $('Normalize Input').first().json.jira_email, jira_api_token: $('Normalize Input').first().json.jira_api_token } }}",
				"options": {}
			},
			"id": "wa_jira_link_reject",
			"name": "Link Run in Jira (Rejection)",
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"onError": "continueRegularOutput",
			"position": [
				2140,
				500
			]
		},
		{
			"parameters": {
				"jsCode": "return [{\n  json: {\n    ...$('Format Rejection').first().json,\n    jira_link: $json\n  }\n}];"
			},
			"id": "wa_reject_finalize",
			"name": "Finalize Rejection",
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [
				2380,
				500
			]
		},
		{
			"parameters": {
				"respondWith": "json",
				"responseBody": "={{ $json }}",
				"options": {
					"responseCode": 200
				}
			},
			"id": "wa_response",
			"name": "Respond",
			"type": "n8n-nodes-base.respondToWebhook",
			"typeVersion": 1.3,
			"position": [
				2620,
				320
			]
		}
	],
	"connections": {
		"WhatsApp Webhook": {
			"main": [
				[
					{
						"node": "Normalize Input",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Normalize Input": {
			"main": [
				[
					{
						"node": "Call Planner",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Planner": {
			"main": [
				[
					{
						"node": "Call Developer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Developer": {
			"main": [
				[
					{
						"node": "Call Reviewer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Reviewer": {
			"main": [
				[
					{
						"node": "Filter Approved",
						"type": "main",
						"index": 0
					},
					{
						"node": "Filter Rejection",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Filter Approved": {
			"main": [
				[
					{
						"node": "Call Deployer",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Filter Rejection": {
			"main": [
				[
					{
						"node": "Format Rejection",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Call Deployer": {
			"main": [
				[
					{
						"node": "Format Success",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Success": {
			"main": [
				[
					{
						"node": "Link Jira on Success?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Format Rejection": {
			"main": [
				[
					{
						"node": "Link Jira on Rejection?",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Link Jira on Success?": {
			"main": [
				[
					{
						"node": "Link Run in Jira (Success)",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Link Run in Jira (Success)": {
			"main": [
				[
					{
						"node": "Finalize Success",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Finalize Success": {
			"main": [
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Link Jira on Rejection?": {
			"main": [
				[
					{
						"node": "Link Run in Jira (Rejection)",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Link Run in Jira (Rejection)": {
			"main": [
				[
					{
						"node": "Finalize Rejection",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Finalize Rejection": {
			"main": [
				[
					{
						"node": "Respond",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"settings": {},
	"pinData": {}
}
